@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

li
{
    color: black;
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    list-style-type: none;
    padding-left:50px;
    padding-right:50px;
    padding-top: 15px;
    
}

nav
{
    display: flex;
}


header
{
    margin-bottom: 15px;
    height: 50px;

    background-color:  #fdfdfd
}

body
{
    background-color: #f6f7f9

}

.first
{
    padding-left: 150px;
    padding-top: 50px;
}