@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

li
{
    color: black;
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    list-style-type: none;
    padding-left:50px;
    padding-right:50px;
    padding-top: 15px;
    
}

nav
{
    display: flex;
}

h2
{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 30px;
    padding-top: 9px;
}

header
{
    margin-bottom: 15px;
    height: 50px;

    background-color:  #fdfdfd
}

body
{
    background-color: #f6f7f9

}

img
{
    border-radius: 15px;
}

#preis
{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 30px;

}
#wert
{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 30px;
    padding-top: 15px;

}

#kaufen
{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    padding-top: 15px;

}
.infobox
{
    display: inline-block;

    background-color: #edeff1;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    margin-top: 20px;
    margin-left: 25px;
}

.neben
{
    margin-left: 205px;
}

.infobox2
{
    display: inline-block;
    background-color: #edeff1;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    margin-left: 25px;
}
.pricebox
{
    background-color: rgb(6, 224, 104);    
    border-radius: 15px;
    position: absolute;
    margin-left: 190px;
    height: 80px;
    width: 100px;
    
}
#location
{
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 40px;
    width: 250px;
    top: 200px;
}

#bewertungen
{
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 40px;
    width: 250px;
    top: 200px;
}
.first
{
    display: inline-block;
    padding-left: 150px;
    padding-top: 50px;
}

.second
{
    display: inline-block;
    padding-left: 150px;
    padding-top: 50px;
}